pkgbase = cordflow-git
	pkgdesc = PipeWire audio router and output mixer
	pkgver = 0.1.0.r6.gf8ac2ac
	pkgrel = 2
	url = https://github.com/johnpoint/cordflow
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = nodejs-lts-jod
	makedepends = pnpm
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libgcc
	depends = libpipewire
	depends = libsoup3
	depends = pipewire
	depends = webkit2gtk-4.1
	optdepends = wireplumber: default input and output device management
	provides = cordflow
	conflicts = cordflow
	options = !debug
	source = cordflow::git+https://github.com/johnpoint/cordflow.git
	source = cordflow.desktop
	source = io.github.johnpoint.Cordflow.metainfo.xml
	b2sums = SKIP
	b2sums = c04f5141a9cff52f5438991e0338a68bae858ceb28f57e4b5d95c5b053309462c982541d049c6062b72b255c31ef25353f76200bcb77e8dc7fe138a521fe519f
	b2sums = 28a0e7942927d2417113d491aae22a3eaafd41407e5c3ba4a088970fa1eddf872584fe6f02be0c45f1f85539bc2ccb7daaff20d2d398c748959bf5a212518273

pkgname = cordflow-git
